.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 60px auto;
  background-color: var(--background-cream);
  padding: 40px 20px;
}

.new-collections h1 {
  color: var(--text-dark);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.new-collections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: var(--dark-gray);
  border: none;
}

.collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin-top: 40px;
  gap: 30px;
  width: 100%;
}
