* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    /* margin-top: 90px; */
    height: 100vh;
    background: var(--background-beige);
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    width: 100%;
    padding: 0 clamp(10px, 5vw, 20px);
}

.hero-left {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: clamp(10px, 5vw, 60px);
    line-height: 1.1;
}


.hero-left h2 {
    color: var(--color-primary-text);
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    color: var(--color-primary-text);
    font-size: 60px;
    font-weight: 700;
    word-break: break-word;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 80px;

}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: var(--coral-red);
    color: var(--white);
    font-size: 22px;
    font-weight: 500;
}

.hero-latest-btn:hover {
    background: var(--bright-red);
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 100%;
}

.hero-right img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    .hero-left {
        padding-left: 0;
        align-items: center;
    }

    .hero-left p {
        font-size: 40px;
    }

    .hero-latest-btn {
        width: 80%;
        height: 60px;
        font-size: 18px;
    }

    .hero-right img {
        max-width: 300px;
        width: 100%;
    }
}